body > * {
    font-family: 'Roboto';
}

body {
    background: url('../../dist/img/seigaiha.png');
}

#skills .card {
    min-height: 210px;
    max-height: 210px;
}

#skills .card-image img {
    height: 150px;
}